@model List<DomainModel.Models.Message>

<style>
    .MessageTime {
        font-size: 10px;
    }
</style>

<div id="ConversationBoxInAllConversation" class="box box-danger direct-chat direct-chat-danger">
    <div class="box-header with-border">
        <h3 class="box-title">گفتگو</h3>

        <div class="box-tools pull-right">
            <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title="3 New Messages">
                @Model.Count
            </span>
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                <i class="fa fa-comments"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->

        <div>
            @foreach (var item in Model)
            {
                <div>
                    <div>
                        <div>
                            : حسین احدی
                        </div>
                        <div>
                            @item.MessageBody
                        </div>
                        <div class="MessageTime">
                            @item.MessageTime
                        </div>
                    </div>
                    
                </div>
            }
        </div>

        <!--/.direct-chat-messages-->
        <!-- Contacts are loaded here -->
        <!-- /.direct-chat-pane -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <form action="#" method="post">
            <div class="input-group">
                <input type="text" name="message" placeholder="پیام" class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-danger btn-flat">ارسال</button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-footer-->
</div>