@model DomainModel.DTO.Conversation.Chat

@{
    var x = 10;
}


<style>
    .GetMessageContainer {
        display: flex;
        height: 1080px
    }

    .SideBarGetMessageContainer {
        width: 230px;
        height: 100%;
        overflow: hidden;
    }

    .LeftGetMessageContainer {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 50%;
    }

    .HeaderBarGetMessageContainer {
        width: 100%;
        height: auto;
    }
    .direct-chat-messages {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        padding: 10px;
        height: 400px;
        overflow: auto;
        }
</style>

<div class="GetMessageContainer">
    <div class="SideBarGetMessageContainer">
        @await Component.InvokeAsync("BaseView")
    </div>
    <div class="LeftGetMessageContainer">
        
        <div class="box box-danger direct-chat direct-chat-danger">
            <div class="box-header with-border">
                <h3 class="box-title">گفتگو</h3>

                <div class="box-tools pull-right">
                    <span data-toggle="tooltip" title="" class="badge bg-red" data-original-title="3 New Messages">
                        3
                    </span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
                        <i class="fa fa-comments"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <h1>
                    @Model.UserName
                </h1>
                <h3>
                    @foreach (var item in Model.Messages)
                    {

                        <div>
                            @item.MessageBody
                        </div>
                        
                    }

                </h3>
                <!--/.direct-chat-messages-->
                <!-- Contacts are loaded here -->
                <div class="direct-chat-contacts">
                    <ul class="contacts-list">
                        <li>
                            <a href="#">
                                <img class="contacts-list-img" src="../dist/img/user1-128x128.jpg" alt="User Image">

                                <div class="contacts-list-info">
                                    <span class="contacts-list-name">
                                        محمد
                                        <small class="contacts-list-date pull-right">2/28/2015</small>
                                    </span>
                                    <span class="contacts-list-msg">پشتیبانی</span>
                                </div>
                                <!-- /.contacts-list-info -->
                            </a>
                        </li>
                        <!-- End Contact Item -->
                    </ul>
                    <!-- /.contatcts-list -->
                </div>
                <!-- /.direct-chat-pane -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="پیام" class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-danger btn-flat">ارسال</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- /.box-footer-->
        </div>
        
    </div>
</div>


